/* Message Tray */

#message-tray {
    height: 34px;
    background-color: rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.6);
    border-top: 1px solid rgba(255,255,255,0.1);
}

#notification {
    background: rgba(0,0,0,0.85);
    border-radius: 5px 5px 0px 0px;
    padding: 10px 10px 8px 10px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    width: 34em;
}

#notification.multi-line-notification {
    padding-bottom: 10px;
}

.notification-with-image {
    min-height: 159px;
}

.summary-boxpointer {
    -arrow-background-color: rgba(0,0,0,0.85);
	-arrow-border-radius: 5px;
    -arrow-base: 15px;
    -arrow-rise: 8px;
    -boxpointer-gap: 3px;
}

.summary-boxpointer #notification {
    background: rgba(0,0,0,0) !important;
}

.summary-boxpointer #summary-right-click-menu {
    padding: .5em 1px;
    min-width: 150px;
}

#summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 10px;
    padding-bottom: 10px;
}

#summary-notification-stack-scrollview > .top-shadow, 
#summary-notification-stack-scrollview > .bottom-shadow {
    height: 1em;
}

#summary-notification-stack-scrollview:ltr {
    padding-right: 10px;
}

#summary-notification-stack-scrollview:rtl {
    padding-left: 10px;
}

.summary-boxpointer #notification-scrollview {
    max-height: 10em;
    -st-vfade-offset: 24px;
}

#notification-scrollview > .top-shadow, 
#notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 10px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 10px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 10px;
}

.notification-button {
    padding: .45em .8em;
    border-radius: 3px;
}

.notification-icon-button {
    padding: .45em;
    border-radius: 3px;
}

.notification-icon-button > StIcon {
    icon-size: 16px;
}

/* Hotplug */

.hotplug-transient-box {
    spacing: 5px;
}

.hotplug-notification-item {
    padding: .25em .3em;
    border-radius: 3px;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding-right: .3em;
}

.hotplug-resident-box {
    spacing: 5px;
}

.hotplug-resident-mount {
    color: #ccc;
}

.hotplug-resident-mount:hover {
    color: #fff;
}

.hotplug-resident-mount-label {
    padding: 0px 10px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: .45em;
    border-radius: 3px;
}

/* Chat */

.chat-log-message {
    color: #888;
}

.chat-group-sent, 
.chat-group-received, 
.chat-group-meta {
    padding: 4px 0px;
}

.chat-received {
    border: 1px solid rgba(255,50,50,0.5);
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding-right: 2em;
    padding-left: 10px;
    text-align: left;
}

.chat-sent {
    border: 1px solid rgba(50,50,255,0.5);
    border-top: none;
    border-left: none;
    border-bottom: none;
    padding-left: 2em;
    padding-right: 10px;
    text-align: right;
}

.chat-meta-message {
    color: #666;
}

.subscription-message {
    font-style: italic;
}

#notification StEntry {
    padding: .45em;
    background-gradient-start: rgba(0,0,0,0.25);
	background-gradient-end: rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 4px;
}

/* Source Items */

#summary-mode {
    height: 34px;
    padding-top: 2px;
    background-color: rgba(0,0,0,0.85);
}

#summary-mode:ltr {
	border-radius: 5px 0px 0px 0px;
	border-right: none;
}

#summary-mode:rtl {
    border-radius: 0px 5px 0px 0px;
	border-left: none;
}

.summary-source-button:first-child:ltr {
    padding-left: 6px;
}

.summary-source-button:first-child:rtl {
    padding-right: 6px;
}

.summary-source-button:last-child:ltr {
    padding-right: 6px;
}

.summary-source-button:last-child:rtl {
    padding-left: 6px;
}

.summary-source {
    padding: 0px 6px;
}

.summary-source-counter {
    min-height: 1em;
    min-width: 1.2em;
    background-gradient-direction: vertical;
	background-gradient-start: rgba(250,0,0,0.8);
	background-gradient-end: rgba(150,0,0,0.8);
	box-shadow: inset 0px 0px 1px rgba(255,255,255,0.3);
	border: 1px solid rgba(0,0,0,0.2);
    border-radius: 1em;
    text-shadow: rgba(0,0,0,0.6) 0px 0px 2px;
}

.source-title {
    font-weight: bold;
}

.source-title:ltr {
    padding-left: 4px;
}

.source-title:rtl {
    padding-right: 4px;
}