/* Font Properties */

stage {
    font-family: roboto, sans-serif;
    font-size: 10pt;
    color: #fff;
}

/* session and dialog headers */
.status-chooser-user-name,
.end-session-dialog-subject,
.show-processes-dialog-subject,
.mount-question-dialog-subject,
.prompt-dialog-headline {
    font-size: 1.1em;
}

/* calendar */
.calendar-month-label,
.events-day-dayname,
.events-day-time,
.events-day-task {
    font-size: .85em;
}
.calendar-day-base {
    font-size: .75em;
}

/* labels and captions */
.source-title,
.dash-label,
.window-caption,
.switcher-list,
.run-dialog-error-label,
.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    font-size: .85em;
}

/* statuses, messages and descriptions */
.contact-details-status,
.chat-meta-message,
.end-session-dialog-app-list-item-description {
    font-size: .85em;
}
.summary-source-counter {
    font-size: .75em;
}

/* Hyperlink Properties */

.shell-link {
    color: #ccc;
    text-decoration: underline;
}

.shell-link:hover {
    color: #fff;
}

/* Shared Scrollbar Properties */ 

StScrollBar {
    padding: 0px;
}

StScrollView.vfade {
    -st-vfade-offset: 68px;
}

StScrollView.hfade {
    -st-hfade-offset: 68px;
}

StScrollView StScrollBar {
    min-width: 10px;
    min-height: 10px;
}

StScrollBar StBin#trough {
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}

StScrollBar StButton#vhandle {
    background-gradient-direction: horizontal;
}

StScrollBar StButton#hhandle {
    background-gradient-direction: vertical;
}

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
    background-gradient-start: rgba(255,255,255,0.3);
    background-gradient-end: rgba(255,255,255,0.12);
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.3);
    border: 1px solid transparent;
    border-radius: 5px;
}

StScrollBar StButton#vhandle:hover,
StScrollBar StButton#hhandle:hover {
    background-gradient-start: rgba(255,255,255,0.4);
    background-gradient-end: rgba(255,255,255,0.15);
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.4);
}

/* Shared Entry Properties */

StEntry {
    selection-background-color: #fff;
    selected-color: #000;
    caret-size: 1px;
    caret-color: #ccc;
}

/* Shared Button Properties */

.dash-search-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button,
.keyboard-key {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.3);
    background-gradient-end: rgba(255,255,255,0.1);
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.3);
    border: 1px solid rgba(0,0,0,0.2);
}

.dash-search-button:hover,
.dash-search-button:focus,
.dash-search-button:selected,
.notification-button:hover,
.notification-button:focus,
.notification-icon-button:hover,
.notification-icon-button:focus,
.hotplug-notification-item:hover,
.hotplug-notification-item:focus,
.hotplug-resident-eject-button:hover,
.modal-dialog-button:hover,
.modal-dialog-button:focus,
.keyboard-key:hover {
    background-gradient-start: rgba(255,255,255,0.4);
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.4);
}

.dash-search-button:active,
.dash-search-button:pressed,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed,
.keyboard-key:active,
.keyboard-key:checked {
    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(255,255,255,0.2);
}