Source: gnome-themes-gnamon
Section: gnome
Priority: extra
Maintainer: Luis Alejandro Martínez Faneyth <luis@huntingbears.com.ve>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.4

Package: gnome-themes-gnamon
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, gtk2-engines-murrine, gtk2-engines-pixbuf, gtk3-engines-unico (>= 1.0.1)
Description: Conjunto de temas Gnamon
  Conjunto de temas Gnamon
