Source: gnome-themes-gnamon
Section: gnome
Priority: extra
Maintainer: Luis Alejandro Martínez Faneyth <luis@huntingbears.com.ve>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/gnome-themes-gnamon.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/gnome-themes-gnamon/trees/master

Package: gnome-themes-gnamon
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, gtk2-engines-murrine, gtk2-engines-pixbuf, gtk3-engines-unico, fonts-jara
Description: Conjunto de temas Gnamon
  Conjunto de temas Gnamon
